/**
  Убираем внешние и внутренние отступы
 */

* {
    margin: 0;
    padding: 0;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

:where(fieldset[class]) {
    margin-left: 0;
    padding: 0;
    border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Убираем стандартную стилизацию ссылок
 */

a {
    text-decoration: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
    --paragraphMarginBottom: 24px;

    margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
    margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
    fill: currentColor
}

svg *[stroke] {
    stroke: currentColor
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
    transition-property: fill, stroke;
}

/** Делаем перенос текста */
p,
h1,
h2,
h3 {
    overflow-wrap: break-word;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: var(--font-family-base);
    font-weight: 500;
}

/** анимация */

.animate__animated {
    animation-duration: 0.5s !important;
}

/** container */

.container {
    max-width: 1240px;
    margin-inline: auto;
    padding-inline: 20px;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}


@import "./_utils/fonts";
@import "./_utils/hover";
@import "./_utils/focus";
@import "./_utils/placeholder";
@import "./_utils/root";

@import "./_header/header-wrapper";
@import "./_header/header";
@import "./_header/header-nav";
@import "./_header/intro";
@import "./_header/page-title";
@import "./_header/header-cart";

@import "./_index-page/_offers/offers";
@import "./_index-page/_offers/offer-product";

@import "./_index-page/_catalog/catalog";


@import "./_index-page/_categories/categories";
@import "./_index-page/_categories/category";

@import "./_footer/_footer";
@import "./_footer/_footer-nav/footer-nav";
@import "./_footer/_footer-contacts/footer-contacts";
@import "./_footer/_footer-socialmedia/footer-socialmedia";
@import "./_footer/_subcribe-form/subcribe-form";

@import "./_products/product";
@import "./_products/products";
@import "./_products/price";

@import "./_catalog-page/settings";
@import "./_catalog-page/_settings/_navigation/navigation";
@import "./_catalog-page/_settings/setting/setting";

@import "./_catalog-page/_catalog/show-more-button";

@import "./_catalog-page/_filter-form/filter-color";
@import "./_catalog-page/_filter-form/filter-delivery";
@import "./_catalog-page/_filter-form/filter-form";
@import "./_catalog-page/_filter-form/filter-roomtype";
@import "./_catalog-page/_filter-form/price-range";
@import "./_catalog-page/_filter-form/legend-title";
@import "./_catalog-page/_filter-form/filter";

@import "./_cart/cart";
@import "./_cart/_checkout-form/checkout-form";
@import "./_cart/_cart-row/cart-row";
@import "./_cart/_cart-item/cart-item";
@import "./_cart/_quantity/quantity";

@import "./_adaptive/adaptive-products";
@import "./_adaptive/adaptive-footer";
@import "./_adaptive/adaptive-header";
@import "./_adaptive/adaptive-index";
@import "./_adaptive/adaptive-catalog";
@import "./_adaptive/adaptive-cart";