.quantity {
    position: relative;
}

.quantity::before {
    content: '';
    position: absolute;
    left: 53px;
    top: 19px;
    transform: translateY(-50%);

    width: 10px;
    height: 4px;
    background: url('./../images/cart__img/cart-plus.svg') no-repeat center / contain;

    pointer-events: none;
}

.quantity::after {
    content: '';
    position: absolute;
    left: 53px;
    top: 32px;
    transform: translateY(-50%);

    width: 10px;
    height: 4px;
    background: url('./../images/cart__img/cart-minus.svg') no-repeat center / contain;

    pointer-events: none;
}

.cart-item__quantity-input::-webkit-inner-spin-button,
.cart-item__quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}