@media (max-width: 1024px) {
    .header-wrapper--index {
        background-position-x: 45%;
    }

    .header-wrapper--cart {
        background-position-x: 47%;
    }

    .header-wrapper--catalog {
        background-position-x: 74%;
    }
}

@media (max-width: 767px) {

    .header-wrapper--index,
    .header-wrapper--catalog {
        background-position-x: 24%;
    }

    .header {
        border-bottom: none;

        &__input {
            width: 15px;
            height: 15px;
            border: none;
            padding: 0;


            &::placeholder {
                color: transparent;
                opacity: 0;
            }
        }

        &__logo {
            width: 99px;
            height: 22px;
        }

        &__input-wrapper {
            position: relative;
            margin-left: auto;
            margin-right: 32px;
        }
    }

    .header__input-wrapper::before {
        content: "";
        width: 15px;
        top: 0px;
        height: 15px;
        position: absolute;
        background: url('./../images/mobile-version__img/search-button.svg');
    }

    .header-nav__item-cart::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0px;
        left: 0px;
        background-image: url('./../images/mobile-version__img/cart-button.svg');
    }

    .header-nav__item-catalog::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 2px;
        left: 0px;
        background-image: url('./../images/mobile-version__img/catalog-button.svg');
    }

    .header-nav {
        &__item {
            position: relative;
            height: fit-content;
        }

        &__link {
            font-size: 0;
            display: block;
            color: transparent;
            position: relative;
            width: 25px;
            height: 25px;
            display: inline-block;
            position: relative;
        }

        &__link-catalog {
            font-size: 0;
            color: transparent;
            width: 20px;
            height: 20px;
        }
    }

    .page-title {
        font-size: clamp(45px, 8.5vw, 68px);
    }

    .page-title--cart {
        text-align: center;
        font-size: clamp(48px, 8.5vw, 68px);
        margin: 82px 0;
    }

    .page-title {
        font-size: clamp(45px, 8.5vw, 68px);
    }

    .header-wrapper--cart {
        background-position-x: 70%;
    }

    .header-nav__link:hover::after,
    .footer-links:hover::before,
    .header-nav__button:hover::after {
        width:0;
    }
}