@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("./../font/Montserrat-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    src: url("./../font/Montserrat-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("./../font/Montserrat-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./../font/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}