:root {
    --font-family-base: 'Montserrat', sans-serif;
    --color-white: #FFFFFF;
    --color-white-warm: #F7F6F6;
    --color-grey: #C4C4C4;
    --color-grey-medium: #888888;
    --color-grey-light: #CACDD8;
    --color-black-dark: #050505;
    --color-black-pure: #000000;
    --color-near-black: #020202;
    --color-dusty-rose: rgba(222, 215, 215, 0.41);
    --grey-border: 1px solid #C4C4C4;
    --black-border: 1px solid #000000;
    --border-grey-medium: 1px solid #888888;
    --box-shadow: 0px 4px 67px -12px #00000052
}