.category {
    &__link {
        position: relative;
        display: block;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
    }

    &__name {
        position: absolute;
        font-size: 34px;
        font-weight: 600;
        color: var(--color-white);
        text-transform: uppercase;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__name-work {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.category:first-child,
.category:nth-child(2) {
    grid-column: span 3;
}

.category:nth-child(n+3) {
    grid-column: span 2;
}