.checkout-form {
    grid-column: span 4;
    background-color: var(--color-white-warm);
    border-radius: 20px;
    width: 379px;
    justify-items: center;
    padding: 42px 30px 154px 30px;

    &__legend {
        color: var(--color-black-pure);
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }

    &__input {
        background-color: transparent;
        border: none;
        border-bottom: 0.5px solid var(--color-grey-light);
        width: 319px;
        font-size: 14px;
        font-weight: 400;
        color: var(--color-black-pure);
    }

    &__list-item {
        margin-bottom: 40px;
    }

    &__sum {
        color: var(--color-black-pure);
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

    &__total-price{
        color: var(--color-black-pure);
        font-size: 24px;
        font-weight: 500;
    }

    &__order-button {
        max-width: 319px;
        padding: 10px 90px;
        background-color: transparent;
        border: var(--black-border);
        border-radius: 20px;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        position: relative;
        overflow: hidden;
    }

}

.checkout-form__list-item:last-of-type {
    margin-bottom: 64px;
}