.filter-roomtype {
    grid-area: roomtype;
    height: fit-content;
    margin-bottom: 98px;

    &__option {
        display: flex;
        align-items: center;
    }

    &__checkbox {
        visibility: hidden;
        width: 15px;
        height: 15px;
    }

    &__label {
        position: relative;
        color: var(--color-black-pure);
        font-weight: 400;
        font-size: 14px;
        padding-left: 14px;
        cursor: pointer;
    }
}

.filter-roomtype__option:not(:last-child) {
    margin-bottom: 14px;
}

.filter-roomtype__label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border: var(--border-grey-medium);
    top: 3px;
    left: -15px;
}

.filter-roomtype__checkbox:checked+.filter-roomtype__label::before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6.5px 6px;
    border: var(--black-border);
    background-image: url('./../images/catalog_img/radio-checked__img.svg');
    z-index: 2;
}

