.filter-form {
    max-width: 446px;
    display: grid;
    grid-template-areas: "delivery . roomtype"
        "price . roomtype"
        "color . roomtype"
        ". . form-button";
        grid-template-columns: 191px 64px 191px;

        &__button{
            grid-area: form-button;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            padding: 7px 47px;
            border: 1px solid #040404;
            border-radius: 20px;
            position: relative;
            transition: background-color 0.3s ease, color 0.3s ease;
            background-color: transparent;
            overflow: hidden;
            cursor: pointer;
        }
}