.cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    &__text {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-black-pure);
    }
}