.offers {
    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: var(--color-black-pure);
        margin-bottom: 32px;
        margin-top: 64px;
    }
    &__catalog-link{
        color: var(--color-black-pure);
        font-size: 16px;
        font-weight: 400;
        display: block;
        margin-top: 32px;
        position: relative;
        width: fit-content;
    }
}

.offers__catalog-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: var(--color-black-pure);
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}