.footer {
    background-color: var(--color-white-warm);
    margin-top: 64px;
    padding-top: 32px;
    padding-bottom: 59px;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        margin-top: 10px;
    }

    &__titles {
        font-size: 24px;
        line-height: 29px;
        color: var(--color-black-pure);
        font-weight: 500;
    }
}

.footer-links{
    position: relative;
}

.footer-links::before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--color-grey-medium);
    transition: width 0.5s;
}