.cart-widget {
    background-color: var(--color-white);
    padding: 40px 48px;
    position: absolute;
    right: 0px;
    top: 40px;
    display: none;
    max-width: 573px;
    z-index: 2;

    &--visibility {
        display: block;
    }

    &__img {
        max-width: 144px;
        max-height: 144px;
        margin-right: 24px;
    }

    &__info {
        width: 190px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__name {
        font-size: 24px;
        color: var(--color-black-pure);
        margin-bottom: 12px;
        font-weight: 500;
    }

    &__name-uppercase {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__price {
        font-size: 15px;
        margin-bottom: 54px;
    }

    &__actions {
        display: flex;
    }

    &__action {
        font-size: 14px;
        font-weight: 400;
        color: var(--color-black-pure);
        text-decoration: none;
        cursor: pointer;
        position: relative;

        &--favourites {
            margin-right: 30px;
        }

        &--delete {
            background-color: transparent;
            border: none;
        }
    }

    &__quantity-input {
        width: 71px;
        height: 51px;
        background-color: var(--color-white-warm);
        border: none;
        text-align: center;
        border-radius: 6px;
        cursor: pointer;
    }

    &__summary {
        display: flex;
        align-items: center;
        margin-top: 24px;
    }

    &__sum {
        font-size: 24px;
        color: var(--color-black-pure);
        font-weight: 400;
        margin-right: 25px;
    }

    &__total-price {
        font-weight: 500;
    }

    &__order-button {
        padding: 8px 31px;
        width: 207px;
        font-size: 16px;
        display: block;
        font-weight: 400;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: 1px solid #040404;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        color: var(--color-black-pure);
        background-color: transparent;
    }
}

.quantity {
    margin-left: 48px;
}

.cart-widget__action::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: var(--color-black-pure);
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.cart-widget__content:nth-child(2) {
    border-top: 0.5px solid var(--color-grey-light);
    padding-top: 24px;
}

.cart-widget__content:first-child {
    margin-bottom: 24px;
}

.cart-widget__quantity-input::-webkit-inner-spin-button,
.cart-widget__quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}