.navigation {
    &__list {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        color: var(--color-black-pure);
    }
}

.navigation__list-item:not(:last-child) {
    margin-right: 10px;
}